Furnance/Furnance.json
[{"id":"b833d8115e4225e5","type":"tab","label":"True Furnance","disabled":false,"info":"","env":[]},{"id":"2ca3a701d838effe","type":"group","z":"b833d8115e4225e5","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["933bbce2b72171ce","760bc895d5e9b4a8","57b70816fae64609","5f4c455ab3226bc6","2cb1e909ee3d474b","e1e5d0fdb411fadd"],"x":1234,"y":39,"w":812,"h":242},{"id":"66bdb4d5a52498f5","type":"ui_form","z":"b833d8115e4225e5","name":"Authentication","label":"","group":"cc10f46949690a9d","order":1,"width":"0","height":"0","options":[{"label":"User","value":"user","type":"text","required":true,"rows":null},{"label":"Password","value":"pass","type":"password","required":true,"rows":null}],"formValue":{"user":"","pass":""},"payload":"","submit":"ورود","cancel":"","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":140,"y":140,"wires":[["0fd259f89b79830d"]]},{"id":"0fd259f89b79830d","type":"switch","z":"b833d8115e4225e5","name":"check username","property":"payload.user","propertyType":"msg","rules":[{"t":"eq","v":"admin","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":140,"wires":[["19c9c3d68df6ca59"]]},{"id":"19c9c3d68df6ca59","type":"switch","z":"b833d8115e4225e5","name":"check password","property":"payload.pass","propertyType":"msg","rules":[{"t":"eq","v":"1111","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":600,"y":140,"wires":[["919339ff588c4e5b","9f04d0af5d788f9a"]]},{"id":"919339ff588c4e5b","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"monitoring\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":140,"wires":[["834d0950b251d39f"]]},{"id":"834d0950b251d39f","type":"ui_ui_control","z":"b833d8115e4225e5","name":"","events":"all","x":1020,"y":140,"wires":[[]]},{"id":"3ec32cd6999ccee9","type":"ui_gauge","z":"b833d8115e4225e5","name":"Furnace 1","group":"76cc6fa646458284","order":1,"width":3,"height":2,"gtype":"gage","title":"کوره شماره 1","label":"°C","format":"{{payload}}","min":"300","max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1320,"y":580,"wires":[]},{"id":"c4e0c7af7aa4b92c","type":"ui_button","z":"b833d8115e4225e5","name":"","group":"2ce86dff0dc56daf","order":1,"width":2,"height":"1","passthru":false,"label":"خروج","tooltip":"","color":"","bgcolor":"red","className":"","icon":"fa-sign-out","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":90,"y":380,"wires":[["4f4a3701bd36cf87"]]},{"id":"2d463c018ee8fcc5","type":"ui_ui_control","z":"b833d8115e4225e5","name":"","events":"all","x":500,"y":340,"wires":[[]]},{"id":"5ead424cad1577c2","type":"ui_gauge","z":"b833d8115e4225e5","name":"Furnace 2","group":"bd1ed03b029b493b","order":1,"width":3,"height":2,"gtype":"gage","title":"کوره شماره 2","label":"°C","format":"{{payload}}","min":"300","max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1380,"y":1020,"wires":[]},{"id":"57753f86b5453e66","type":"ui_button","z":"b833d8115e4225e5","name":"","group":"76cc6fa646458284","order":3,"width":3,"height":1,"passthru":true,"label":"{{msg.text}}","tooltip":"","color":"WHITE","bgcolor":"{{msg.color}}","className":"","icon":"","payload":"","payloadType":"str","topic":"object.gpio_input_1","topicType":"msg","x":1190,"y":860,"wires":[[]]},{"id":"896fc0c8b001e0aa","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Login\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":240,"wires":[["2f1d47c6d31f7793"]]},{"id":"2f1d47c6d31f7793","type":"ui_ui_control","z":"b833d8115e4225e5","name":"","events":"all","x":780,"y":240,"wires":[[]]},{"id":"1968dfffd23e986c","type":"switch","z":"b833d8115e4225e5","name":"","property":"auth","propertyType":"global","rules":[{"t":"neq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":240,"wires":[["896fc0c8b001e0aa"]]},{"id":"742910e37e7e7f6f","type":"ui_ui_control","z":"b833d8115e4225e5","name":"","events":"all","x":140,"y":240,"wires":[["1968dfffd23e986c"]]},{"id":"9f04d0af5d788f9a","type":"change","z":"b833d8115e4225e5","name":"set_auth_true","rules":[{"t":"set","p":"auth","pt":"global","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":80,"wires":[[]]},{"id":"c6de2fedb8389e77","type":"change","z":"b833d8115e4225e5","name":"set_auth_false","rules":[{"t":"set","p":"auth","pt":"global","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":440,"wires":[[]]},{"id":"9bd832765b7e00ab","type":"LoRa Input","z":"b833d8115e4225e5","name":"","devEUI":"","extendedField":"","x":60,"y":1960,"wires":[["1282cdf4871a4b5b","7530cc170b054983","6e814c396c4ac19e"]]},{"id":"1282cdf4871a4b5b","type":"Device Filter","z":"b833d8115e4225e5","name":"Furnance1-2","eui":"","x":330,"y":940,"wires":[["fdead6e33cca4e32","e96ddcf9cc4be94e"]]},{"id":"bc9bf191fec47c9a","type":"LoRa Output","z":"b833d8115e4225e5","name":"SET_GPIO_0","eui":"24E124445D111551","payloadType":"base64","payload":"BwH/","confirmed":false,"port":85,"x":1640,"y":660,"wires":[]},{"id":"933bbce2b72171ce","type":"switch","z":"b833d8115e4225e5","d":true,"g":"2ca3a701d838effe","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1930,"y":160,"wires":[[],[]]},{"id":"25a8305b09bbf407","type":"LoRa Output","z":"b833d8115e4225e5","name":"RESET_GPIO_0","eui":"24E124445D111551","payloadType":"base64","payload":"BwD/","confirmed":false,"port":85,"x":1650,"y":740,"wires":[]},{"id":"05c68f1a9d68e1e2","type":"LoRa Output","z":"b833d8115e4225e5","name":"SET_GPIO_1","eui":"24E124445D111551","payloadType":"base64","payload":"CAH/","confirmed":false,"port":85,"x":1640,"y":1160,"wires":[]},{"id":"8791f23cca561678","type":"LoRa Output","z":"b833d8115e4225e5","name":"RESET_GPIO_1","eui":"24E124445D111551","payloadType":"base64","payload":"CAD/","confirmed":false,"port":85,"x":1630,"y":1220,"wires":[]},{"id":"477af9d8888e307f","type":"switch","z":"b833d8115e4225e5","name":"","property":"payload.gpio_input_3","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":860,"wires":[["4e7f784327d6915c"],["e68ce9f77b03800d"]]},{"id":"4e7f784327d6915c","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"RED","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"درب بسته","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":820,"wires":[["57753f86b5453e66"]]},{"id":"e68ce9f77b03800d","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"GREEN","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"درب باز","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":900,"wires":[["57753f86b5453e66"]]},{"id":"84dd1ee87ed1e35b","type":"ui_button","z":"b833d8115e4225e5","name":"","group":"bd1ed03b029b493b","order":3,"width":3,"height":1,"passthru":true,"label":"{{msg.text}}","tooltip":"","color":"WHITE","bgcolor":"{{msg.color}}","className":"","icon":"fa-solid fa-door-open","payload":"","payloadType":"str","topic":"object.gpio_input_3","topicType":"msg","x":1190,"y":1380,"wires":[[]]},{"id":"0870735184563120","type":"switch","z":"b833d8115e4225e5","name":"","property":"payload.gpio_input_2","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":1380,"wires":[["bd442d0cf611f608"],["27763d9399ee737e"]]},{"id":"bd442d0cf611f608","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"RED","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"درب بسته","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1340,"wires":[["84dd1ee87ed1e35b"]]},{"id":"27763d9399ee737e","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"GREEN","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"درب باز","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1420,"wires":[["84dd1ee87ed1e35b"]]},{"id":"f5f97ac499966c6d","type":"ui_chart","z":"b833d8115e4225e5","name":"","group":"76cc6fa646458284","order":4,"width":6,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"300","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1310,"y":500,"wires":[[]]},{"id":"217fd1a10d975547","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"move","p":"payload.adc_1_avg","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":540,"wires":[["f5f97ac499966c6d","3ec32cd6999ccee9"]]},{"id":"9f8f1f6dc095fbd0","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"move","p":"payload.adc_2_avg","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":1060,"wires":[["5043c586f9bc13a6","5ead424cad1577c2"]]},{"id":"5043c586f9bc13a6","type":"ui_chart","z":"b833d8115e4225e5","name":"","group":"bd1ed03b029b493b","order":4,"width":6,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"300","ymax":"1000","removeOlder":1,"removeOlderPoints":"1440","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1370,"y":1080,"wires":[[]]},{"id":"7530cc170b054983","type":"Device Filter","z":"b833d8115e4225e5","name":"Furnance3-4","eui":"","x":330,"y":1960,"wires":[["65a55cae03d7738d","788c1b0a2896dbf3"]]},{"id":"6e814c396c4ac19e","type":"Device Filter","z":"b833d8115e4225e5","name":"Furnance5-6","eui":"","x":230,"y":3020,"wires":[["f83eb5125d6e1fd3","a0ba2ffb05dfdb55"]]},{"id":"fdead6e33cca4e32","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"move","p":"object","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":700,"wires":[["fc0c91b39602b86b","477af9d8888e307f","1ba0adc691271366"]]},{"id":"fc0c91b39602b86b","type":"range","z":"b833d8115e4225e5","minin":"4","maxin":"20","minout":"300","maxout":"1000","action":"scale","round":true,"property":"payload.adc_1_avg","name":"","x":810,"y":560,"wires":[["a4774b030c5b99f1"]]},{"id":"4f4a3701bd36cf87","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Login\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":380,"wires":[["2d463c018ee8fcc5","c6de2fedb8389e77"]]},{"id":"760bc895d5e9b4a8","type":"change","z":"b833d8115e4225e5","d":true,"g":"2ca3a701d838effe","name":"","rules":[{"t":"set","p":"out_01","pt":"global","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":1930,"y":80,"wires":[[]]},{"id":"57b70816fae64609","type":"switch","z":"b833d8115e4225e5","d":true,"g":"2ca3a701d838effe","name":"","property":"payload.gpio_output_1","propertyType":"msg","rules":[{"t":"neq","v":"out_01","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":1310,"y":160,"wires":[["e1e5d0fdb411fadd"]]},{"id":"e6c9160c83f5f985","type":"debug","z":"b833d8115e4225e5","name":"debug 52","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":560,"wires":[]},{"id":"d7afbfdf1c8715e5","type":"delay","z":"b833d8115e4225e5","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":80,"y":620,"wires":[[]]},{"id":"5f4c455ab3226bc6","type":"ui_toast","z":"b833d8115e4225e5","d":true,"g":"2ca3a701d838effe","position":"top right","displayTime":"10","highlight":"Red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1740,"y":240,"wires":[]},{"id":"2cb1e909ee3d474b","type":"change","z":"b833d8115e4225e5","d":true,"g":"2ca3a701d838effe","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"اخطار! کوره بصورت دستی روشن شده است","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"اخطار! کوره بصورت دستی خاموش شده است","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":240,"wires":[["5f4c455ab3226bc6"]]},{"id":"a43e830c186bd18f","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":100,"y":580,"wires":[[]]},{"id":"95c30353b2cdf606","type":"ui_template","z":"b833d8115e4225e5","group":"cc10f46949690a9d","name":"","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"><p>سامانه مانیتورینگ دما</p></div>\n<style>\n.nr-dashboard-theme .nr-dashboard-form-button{\n                    background-color: green;\n                    color: white;\n                    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":180,"y":40,"wires":[[]]},{"id":"b945ec187cbea679","type":"ui_template","z":"b833d8115e4225e5","d":true,"group":"6c0ea34fee5c116d","name":"","order":1,"width":6,"height":6,"format":"<div ng-bind-html=\"msg.payload\"></div>\n<style>\n    .nr-dashboard-theme .nr-dashboard-switch md-switch.md-checked .md-thumb{\n    background-color: green;\n    }\n    element.style{\n    width:320;\n    hight:320;\n    }\n    .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle{\n    color:white;\n    direction: rtl;\n    }\n    element.style{\n    width:320;\n    hight:320;\n    }\n    #monitoring_Group_8{\n    visibility: hidden;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":380,"y":40,"wires":[[]]},{"id":"97b260134d49ca8c","type":"function","z":"b833d8115e4225e5","name":"check global variable","func":"if (global.get('out_01') != null) {msg.payload.out_01 = global.get('out_01');}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":560,"wires":[["e6c9160c83f5f985"]]},{"id":"e1e5d0fdb411fadd","type":"change","z":"b833d8115e4225e5","d":true,"g":"2ca3a701d838effe","name":"replace","rules":[{"t":"move","p":"payload.gpio_output_1","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":160,"wires":[["2cb1e909ee3d474b"]]},{"id":"2de7cb7b54efd1ff","type":"range","z":"b833d8115e4225e5","minin":"4","maxin":"20","minout":"300","maxout":"1000","action":"scale","round":true,"property":"payload.adc_2_avg","name":"","x":790,"y":1060,"wires":[["3f163f124ba4912e"]]},{"id":"e96ddcf9cc4be94e","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"move","p":"object","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1180,"wires":[["2de7cb7b54efd1ff","c5e205cd3c722b4e","36f38bd1c4c0a244"]]},{"id":"a4774b030c5b99f1","type":"function","z":"b833d8115e4225e5","name":"DriftCorrection","func":"if(msg.payload.adc_1_avg>300)\n{\n    msg.payload.adc_1_avg = Math.round(msg.payload.adc_1_avg * 1.0240855705)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":440,"wires":[["217fd1a10d975547"]]},{"id":"3f163f124ba4912e","type":"function","z":"b833d8115e4225e5","name":"DriftCorrection","func":"if(msg.payload.adc_2_avg>300)\n{\n    msg.payload.adc_2_avg = Math.round(msg.payload.adc_2_avg * 1.047)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":1000,"wires":[["9f8f1f6dc095fbd0"]]},{"id":"59ab75728fa7fb2b","type":"switch","z":"b833d8115e4225e5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1410,"y":1200,"wires":[["05c68f1a9d68e1e2"],["8791f23cca561678"]]},{"id":"8860b82fc7163a81","type":"ui_switch","z":"b833d8115e4225e5","name":"","label":"ON/OFF","tooltip":"","group":"bd1ed03b029b493b","order":2,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":1240,"y":1200,"wires":[["59ab75728fa7fb2b"]]},{"id":"1301cf03c0f31ebc","type":"switch","z":"b833d8115e4225e5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1470,"y":700,"wires":[["bc9bf191fec47c9a"],["25a8305b09bbf407"]]},{"id":"715b5b2f937bd191","type":"ui_switch","z":"b833d8115e4225e5","name":"","label":"ON/OFF","tooltip":"","group":"76cc6fa646458284","order":2,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":1280,"y":700,"wires":[["1301cf03c0f31ebc"]]},{"id":"c5e205cd3c722b4e","type":"switch","z":"b833d8115e4225e5","name":"","property":"payload.gpio_output_2","propertyType":"msg","rules":[{"t":"eq","v":"payload.gpio_input_2","vt":"msg"},{"t":"neq","v":"payload.gpio_input_2","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":1280,"wires":[["0870735184563120"],[]]},{"id":"f146736eb19e4031","type":"ui_gauge","z":"b833d8115e4225e5","name":"Furnace 3","group":"7b949818634c8623","order":1,"width":3,"height":2,"gtype":"gage","title":"کوره شماره 3","label":"°C","format":"{{payload}}","min":"300","max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1360,"y":1620,"wires":[]},{"id":"ea82c0f69ddfa84c","type":"ui_button","z":"b833d8115e4225e5","name":"","group":"7b949818634c8623","order":3,"width":3,"height":1,"passthru":true,"label":"{{msg.text}}","tooltip":"","color":"WHITE","bgcolor":"{{msg.color}}","className":"","icon":"","payload":"","payloadType":"str","topic":"object.gpio_input_1","topicType":"msg","x":1210,"y":1920,"wires":[[]]},{"id":"720fd5d45fa8aeeb","type":"LoRa Output","z":"b833d8115e4225e5","name":"SET_GPIO_0","eui":"24E124445E382217","payloadType":"base64","payload":"BwH/","confirmed":false,"port":85,"x":1680,"y":1720,"wires":[]},{"id":"baacca3b70abe609","type":"LoRa Output","z":"b833d8115e4225e5","name":"RESET_GPIO_0","eui":"24E124445E382217","payloadType":"base64","payload":"BwD/","confirmed":false,"port":85,"x":1670,"y":1780,"wires":[]},{"id":"a4f51122f2edb887","type":"switch","z":"b833d8115e4225e5","name":"","property":"payload.gpio_input_1","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":1920,"wires":[["55385bd037872f4e"],["871a37cb34781e6c"]]},{"id":"55385bd037872f4e","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"RED","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"درب بسته","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":1880,"wires":[["ea82c0f69ddfa84c"]]},{"id":"871a37cb34781e6c","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"GREEN","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"درب باز","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":1960,"wires":[["ea82c0f69ddfa84c"]]},{"id":"402c763022a846ea","type":"ui_chart","z":"b833d8115e4225e5","name":"","group":"7b949818634c8623","order":4,"width":6,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"300","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1350,"y":1540,"wires":[[]]},{"id":"6e617e6ac8c91701","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"move","p":"payload.adc_1_avg","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":1580,"wires":[["402c763022a846ea","f146736eb19e4031"]]},{"id":"65a55cae03d7738d","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"move","p":"object","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1740,"wires":[["b2e70b15c98505ec","a78bac86b6837b92","bd88f8e8c4047817"]]},{"id":"b2e70b15c98505ec","type":"range","z":"b833d8115e4225e5","minin":"4","maxin":"20","minout":"300","maxout":"1000","action":"scale","round":true,"property":"payload.adc_1_avg","name":"","x":850,"y":1600,"wires":[["d05788ce4a0a769d"]]},{"id":"d05788ce4a0a769d","type":"function","z":"b833d8115e4225e5","name":"DriftCorrection","func":"if(msg.payload.adc_1_avg>300)\n{\n    msg.payload.adc_1_avg = parseInt(msg.payload.adc_1_avg * 1.02475)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":1480,"wires":[["6e617e6ac8c91701"]]},{"id":"7978ffe51c231c9a","type":"switch","z":"b833d8115e4225e5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1490,"y":1740,"wires":[["720fd5d45fa8aeeb"],["baacca3b70abe609"]]},{"id":"7b843b34f322d4c1","type":"ui_switch","z":"b833d8115e4225e5","name":"","label":"ON/OFF","tooltip":"","group":"7b949818634c8623","order":2,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":1340,"y":1740,"wires":[["7978ffe51c231c9a"]]},{"id":"a78bac86b6837b92","type":"switch","z":"b833d8115e4225e5","name":"","property":"payload.gpio_output_1","propertyType":"msg","rules":[{"t":"eq","v":"payload.gpio_input_1","vt":"msg"},{"t":"neq","v":"payload.gpio_input_1","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":1820,"wires":[["a4f51122f2edb887"],[]]},{"id":"9337273853377d84","type":"switch","z":"b833d8115e4225e5","name":"","property":"payload.gpio_input_2","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":2420,"wires":[["88149f0b48c4e8d3"],["c41c1e2a76bc2cc8"]]},{"id":"88149f0b48c4e8d3","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"RED","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"درب بسته","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":2380,"wires":[["d5dc20f63f1f1d60"]]},{"id":"c41c1e2a76bc2cc8","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"GREEN","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"درب باز","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":2460,"wires":[["d5dc20f63f1f1d60"]]},{"id":"b827b2cc6e419421","type":"range","z":"b833d8115e4225e5","minin":"4","maxin":"20","minout":"300","maxout":"1000","action":"scale","round":true,"property":"payload.adc_2_avg","name":"","x":770,"y":2100,"wires":[["c7851164f9e5ffe2"]]},{"id":"788c1b0a2896dbf3","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"move","p":"object","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":2200,"wires":[["b827b2cc6e419421","a655de8a5be9abfc","8e5455d4570b426b"]]},{"id":"de1d600a9240c186","type":"ui_switch","z":"b833d8115e4225e5","name":"","label":"ON/OFF","tooltip":"","group":"1ce76cfcb42fbd6b","order":2,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":1260,"y":2220,"wires":[["f656a511d7aa3ec8"]]},{"id":"a655de8a5be9abfc","type":"switch","z":"b833d8115e4225e5","name":"","property":"payload.gpio_output_2","propertyType":"msg","rules":[{"t":"eq","v":"payload.gpio_input_2","vt":"msg"},{"t":"neq","v":"payload.gpio_input_2","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":2320,"wires":[["9337273853377d84"],[]]},{"id":"c7851164f9e5ffe2","type":"function","z":"b833d8115e4225e5","name":"DriftCorrection","func":"if(msg.payload.adc_2_avg>300)\n{\n    msg.payload.adc_2_avg = parseInt(msg.payload.adc_2_avg * 1.047)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":2040,"wires":[["24ede9dd98f797ab","831507123211610e"]]},{"id":"24ede9dd98f797ab","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"move","p":"payload.adc_2_avg","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":2100,"wires":[["c9ece1b402d14ca3","4e1f16a2c4c850c5"]]},{"id":"4e1f16a2c4c850c5","type":"ui_gauge","z":"b833d8115e4225e5","name":"Furnace 4","group":"1ce76cfcb42fbd6b","order":1,"width":3,"height":2,"gtype":"gage","title":"کوره شماره 4","label":"°C","format":"{{payload}}","min":"300","max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1360,"y":2060,"wires":[]},{"id":"c9ece1b402d14ca3","type":"ui_chart","z":"b833d8115e4225e5","name":"","group":"1ce76cfcb42fbd6b","order":4,"width":6,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"300","ymax":"1000","removeOlder":1,"removeOlderPoints":"1440","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1350,"y":2120,"wires":[[]]},{"id":"f656a511d7aa3ec8","type":"switch","z":"b833d8115e4225e5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":2220,"wires":[["7efcef46b0203715"],["a9f3ce7fcbc79f55"]]},{"id":"7efcef46b0203715","type":"LoRa Output","z":"b833d8115e4225e5","name":"SET_GPIO_1","eui":"24E124445E382217","payloadType":"base64","payload":"CAH/","confirmed":false,"port":85,"x":1660,"y":2180,"wires":[]},{"id":"a9f3ce7fcbc79f55","type":"LoRa Output","z":"b833d8115e4225e5","name":"RESET_GPIO_1","eui":"24E124445E382217","payloadType":"base64","payload":"CAD/","confirmed":false,"port":85,"x":1650,"y":2240,"wires":[]},{"id":"d5dc20f63f1f1d60","type":"ui_button","z":"b833d8115e4225e5","name":"","group":"1ce76cfcb42fbd6b","order":3,"width":3,"height":1,"passthru":true,"label":"{{msg.text}}","tooltip":"","color":"WHITE","bgcolor":"{{msg.color}}","className":"","icon":"fa-solid fa-door-open","payload":"","payloadType":"str","topic":"object.gpio_input_3","topicType":"msg","x":1170,"y":2420,"wires":[[]]},{"id":"5209189fa854771d","type":"switch","z":"b833d8115e4225e5","name":"","property":"payload.gpio_input_2","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":3400,"wires":[["1aea8730956930fe"],["431fee779eb8e806"]]},{"id":"1aea8730956930fe","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"RED","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"درب بسته","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":3360,"wires":[["1ba003db80b1cbfe"]]},{"id":"431fee779eb8e806","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"GREEN","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"درب باز","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":3440,"wires":[["1ba003db80b1cbfe"]]},{"id":"185bb0d83cb5e6dc","type":"range","z":"b833d8115e4225e5","minin":"4","maxin":"20","minout":"300","maxout":"1000","action":"scale","round":true,"property":"payload.adc_2_avg","name":"","x":690,"y":3120,"wires":[["b89e6973d08bfd0f"]]},{"id":"f83eb5125d6e1fd3","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"move","p":"object","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":3240,"wires":[["185bb0d83cb5e6dc","97801a443b84dc8c","2b0855c34983535a"]]},{"id":"18e5fa771c76ec3b","type":"ui_switch","z":"b833d8115e4225e5","name":"","label":"ON/OFF","tooltip":"","group":"e120c7095df709a8","order":2,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":1080,"y":3240,"wires":[["94a1978fc8245f0c"]]},{"id":"97801a443b84dc8c","type":"switch","z":"b833d8115e4225e5","name":"","property":"payload.gpio_output_2","propertyType":"msg","rules":[{"t":"eq","v":"payload.gpio_input_2","vt":"msg"},{"t":"neq","v":"payload.gpio_input_2","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":3340,"wires":[["5209189fa854771d"],[]]},{"id":"b89e6973d08bfd0f","type":"function","z":"b833d8115e4225e5","name":"DriftCorrection","func":"if(msg.payload.adc_2_avg>300)\n{\n    msg.payload.adc_2_avg = parseInt(msg.payload.adc_2_avg * 1.047)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":3060,"wires":[["2b7a1908602eb7e3"]]},{"id":"2b7a1908602eb7e3","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"move","p":"payload.adc_2_avg","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":3120,"wires":[["79246a7201b0b61f","825a9bf5f25414ee"]]},{"id":"825a9bf5f25414ee","type":"ui_gauge","z":"b833d8115e4225e5","name":"Furnace 6","group":"e120c7095df709a8","order":1,"width":3,"height":2,"gtype":"gage","title":"کوره شماره 6","label":"°C","format":"{{payload}}","min":"300","max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1280,"y":3080,"wires":[]},{"id":"79246a7201b0b61f","type":"ui_chart","z":"b833d8115e4225e5","name":"","group":"e120c7095df709a8","order":4,"width":6,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"300","ymax":"1000","removeOlder":1,"removeOlderPoints":"1440","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1270,"y":3140,"wires":[[]]},{"id":"94a1978fc8245f0c","type":"switch","z":"b833d8115e4225e5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1250,"y":3240,"wires":[["0973ad5f0ad89751"],["30db50c0b7dd90bf"]]},{"id":"0973ad5f0ad89751","type":"LoRa Output","z":"b833d8115e4225e5","name":"SET_GPIO_1","eui":"24E124445E382234","payloadType":"base64","payload":"CAH/","confirmed":false,"port":85,"x":1460,"y":3200,"wires":[]},{"id":"30db50c0b7dd90bf","type":"LoRa Output","z":"b833d8115e4225e5","name":"RESET_GPIO_1","eui":"24E124445E382234","payloadType":"base64","payload":"CAD/","confirmed":false,"port":85,"x":1450,"y":3260,"wires":[]},{"id":"1ba003db80b1cbfe","type":"ui_button","z":"b833d8115e4225e5","name":"","group":"e120c7095df709a8","order":3,"width":3,"height":1,"passthru":true,"label":"{{msg.text}}","tooltip":"","color":"WHITE","bgcolor":"{{msg.color}}","className":"","icon":"fa-solid fa-door-open","payload":"","payloadType":"str","topic":"object.gpio_input_3","topicType":"msg","x":1130,"y":3400,"wires":[[]]},{"id":"03b55a3727eef7c2","type":"ui_gauge","z":"b833d8115e4225e5","name":"Furnace 5","group":"55cf81da258e582d","order":1,"width":3,"height":2,"gtype":"gage","title":"کوره شماره 5","label":"°C","format":"{{payload}}","min":"300","max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1220,"y":2680,"wires":[]},{"id":"66497019b7f30581","type":"ui_button","z":"b833d8115e4225e5","name":"","group":"55cf81da258e582d","order":3,"width":3,"height":1,"passthru":true,"label":"{{msg.text}}","tooltip":"","color":"WHITE","bgcolor":"{{msg.color}}","className":"","icon":"","payload":"","payloadType":"str","topic":"object.gpio_input_1","topicType":"msg","x":1170,"y":2960,"wires":[[]]},{"id":"0b47d3c0e9d792f7","type":"LoRa Output","z":"b833d8115e4225e5","name":"SET_GPIO_0","eui":"24E124445E382234","payloadType":"base64","payload":"BwH/","confirmed":false,"port":85,"x":1440,"y":2760,"wires":[]},{"id":"17ebf92082bebe67","type":"LoRa Output","z":"b833d8115e4225e5","name":"RESET_GPIO_0","eui":"24E124445E382234","payloadType":"base64","payload":"BwD/","confirmed":false,"port":85,"x":1430,"y":2820,"wires":[]},{"id":"d779eb8b7ea50db0","type":"switch","z":"b833d8115e4225e5","name":"","property":"payload.gpio_input_1","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":2960,"wires":[["6429f872de67124f"],["5534c08772bc0245"]]},{"id":"6429f872de67124f","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"RED","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"درب بسته","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":2920,"wires":[["66497019b7f30581"]]},{"id":"5534c08772bc0245","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"GREEN","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"درب باز","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":3000,"wires":[["66497019b7f30581"]]},{"id":"2fc78d106e2bf5ed","type":"ui_chart","z":"b833d8115e4225e5","name":"","group":"55cf81da258e582d","order":4,"width":6,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"300","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1210,"y":2600,"wires":[[]]},{"id":"0f0ff4491a91bda4","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"move","p":"payload.adc_1_avg","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":2640,"wires":[["2fc78d106e2bf5ed","03b55a3727eef7c2"]]},{"id":"a0ba2ffb05dfdb55","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"move","p":"object","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":2780,"wires":[["10960d02376f583b","4d52455c98334dda","6b0acc4d7b72b90e"]]},{"id":"10960d02376f583b","type":"range","z":"b833d8115e4225e5","minin":"4","maxin":"20","minout":"300","maxout":"1000","action":"scale","round":true,"property":"payload.adc_1_avg","name":"","x":690,"y":2640,"wires":[["630f06e77c96bf53"]]},{"id":"630f06e77c96bf53","type":"function","z":"b833d8115e4225e5","name":"DriftCorrection","func":"if(msg.payload.adc_1_avg>300)\n{\n    msg.payload.adc_1_avg = parseInt(msg.payload.adc_1_avg * 1.02475)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":2540,"wires":[["0f0ff4491a91bda4"]]},{"id":"c28fd10be26232ef","type":"switch","z":"b833d8115e4225e5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1250,"y":2780,"wires":[["0b47d3c0e9d792f7"],["17ebf92082bebe67"]]},{"id":"b76017a03a56bb9c","type":"ui_switch","z":"b833d8115e4225e5","name":"","label":"ON/OFF","tooltip":"","group":"55cf81da258e582d","order":2,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":1100,"y":2780,"wires":[["c28fd10be26232ef"]]},{"id":"4d52455c98334dda","type":"switch","z":"b833d8115e4225e5","name":"","property":"payload.gpio_output_1","propertyType":"msg","rules":[{"t":"eq","v":"payload.gpio_input_1","vt":"msg"},{"t":"neq","v":"payload.gpio_input_1","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":2880,"wires":[["d779eb8b7ea50db0"],[]]},{"id":"831507123211610e","type":"debug","z":"b833d8115e4225e5","name":"debug 59","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1140,"y":2020,"wires":[]},{"id":"1ba0adc691271366","type":"switch","z":"b833d8115e4225e5","name":"","property":"payload.gpio_output_1","propertyType":"msg","rules":[{"t":"else"},{"t":"neq","v":"payload.gpio_input_1","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":700,"wires":[["1fc1509e0fbfaf47"],["558f443b51e5274c"]]},{"id":"1fc1509e0fbfaf47","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":640,"wires":[[]]},{"id":"558f443b51e5274c","type":"switch","z":"b833d8115e4225e5","name":"","property":"payload.gpio_input_1","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":700,"wires":[["cc6fd88a3d13e8b9"]]},{"id":"cc6fd88a3d13e8b9","type":"change","z":"b833d8115e4225e5","name":"replace","rules":[{"t":"move","p":"payload.gpio_input_1","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":700,"wires":[["715b5b2f937bd191"]]},{"id":"36f38bd1c4c0a244","type":"switch","z":"b833d8115e4225e5","name":"","property":"payload.gpio_output_2","propertyType":"msg","rules":[{"t":"else"},{"t":"neq","v":"payload.gpio_input_2","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":1200,"wires":[["5f09d15a8d147174"],["35825b3a954ef004"]]},{"id":"5f09d15a8d147174","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":1140,"wires":[[]]},{"id":"35825b3a954ef004","type":"switch","z":"b833d8115e4225e5","name":"","property":"payload.gpio_input_2","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":1200,"wires":[["b5eac73196981efc"]]},{"id":"b5eac73196981efc","type":"change","z":"b833d8115e4225e5","name":"replace","rules":[{"t":"move","p":"payload.gpio_input_2","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":1200,"wires":[["8860b82fc7163a81"]]},{"id":"bd88f8e8c4047817","type":"switch","z":"b833d8115e4225e5","name":"","property":"payload.gpio_output_1","propertyType":"msg","rules":[{"t":"else"},{"t":"neq","v":"payload.gpio_input_1","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":1740,"wires":[["47f93a5110c6f97c"],["7c044ea591e55bf5"]]},{"id":"47f93a5110c6f97c","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":1680,"wires":[[]]},{"id":"7c044ea591e55bf5","type":"switch","z":"b833d8115e4225e5","name":"","property":"payload.gpio_input_1","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":1740,"wires":[["a18785a92c42313d"]]},{"id":"a18785a92c42313d","type":"change","z":"b833d8115e4225e5","name":"replace","rules":[{"t":"move","p":"payload.gpio_input_1","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":1740,"wires":[["7b843b34f322d4c1"]]},{"id":"8e5455d4570b426b","type":"switch","z":"b833d8115e4225e5","name":"","property":"payload.gpio_output_2","propertyType":"msg","rules":[{"t":"else"},{"t":"neq","v":"payload.gpio_input_2","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":2220,"wires":[["6515eb78491d543a"],["ed3436ddef849028"]]},{"id":"ed3436ddef849028","type":"switch","z":"b833d8115e4225e5","name":"","property":"payload.gpio_input_2","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":2220,"wires":[["8a521d0e37c34097"]]},{"id":"8a521d0e37c34097","type":"change","z":"b833d8115e4225e5","name":"replace","rules":[{"t":"move","p":"payload.gpio_input_2","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":2220,"wires":[["de1d600a9240c186"]]},{"id":"6515eb78491d543a","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":2160,"wires":[[]]},{"id":"6b0acc4d7b72b90e","type":"switch","z":"b833d8115e4225e5","name":"","property":"payload.gpio_output_1","propertyType":"msg","rules":[{"t":"else"},{"t":"neq","v":"payload.gpio_input_1","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":2780,"wires":[["c68ee1dcb5db133f"],["d197015066f75788"]]},{"id":"c68ee1dcb5db133f","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":2720,"wires":[[]]},{"id":"d197015066f75788","type":"switch","z":"b833d8115e4225e5","name":"","property":"payload.gpio_input_1","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":2780,"wires":[["07ca5aca0925720b"]]},{"id":"07ca5aca0925720b","type":"change","z":"b833d8115e4225e5","name":"replace","rules":[{"t":"move","p":"payload.gpio_input_1","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":2780,"wires":[["b76017a03a56bb9c"]]},{"id":"2b0855c34983535a","type":"switch","z":"b833d8115e4225e5","name":"","property":"payload.gpio_output_2","propertyType":"msg","rules":[{"t":"else"},{"t":"neq","v":"payload.gpio_input_2","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":3240,"wires":[["d2bee1df32f0e3f8"],["0889fa68ea3d86fb"]]},{"id":"0889fa68ea3d86fb","type":"switch","z":"b833d8115e4225e5","name":"","property":"payload.gpio_input_2","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":3240,"wires":[["fb27bff211ed8413"]]},{"id":"fb27bff211ed8413","type":"change","z":"b833d8115e4225e5","name":"replace","rules":[{"t":"move","p":"payload.gpio_input_2","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":3240,"wires":[["18e5fa771c76ec3b"]]},{"id":"d2bee1df32f0e3f8","type":"change","z":"b833d8115e4225e5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":3180,"wires":[[]]},{"id":"cc4b905f669d6e8d","type":"ui_text","z":"b833d8115e4225e5","group":"2ce86dff0dc56daf","order":2,"width":4,"height":"1","name":"","label":"سامانه مانیتورینگ دما","format":"{{msg.payload}}","layout":"row-center","className":"","style":false,"font":"Arial Black,Arial Black,Gadget,sans-serif","fontSize":"20","color":"#ffffff","x":600,"y":40,"wires":[]},{"id":"d26fbeecf55a6ba4","type":"ui_spacer","z":"b833d8115e4225e5","name":"spacer","group":"93968190a2678a94","order":4,"width":"3","height":"1"},{"id":"ba972232c5f2a3a2","type":"ui_spacer","z":"b833d8115e4225e5","name":"spacer","group":"f4e4ef83b511721d","order":4,"width":3,"height":1},{"id":"e96a5bae47fbf660","type":"ui_spacer","z":"b833d8115e4225e5","name":"spacer","group":"fc9dacb18c18ddc6","order":4,"width":3,"height":1},{"id":"5565e98fbe5f5ec0","type":"ui_spacer","z":"b833d8115e4225e5","name":"spacer","group":"6a5658e1615e9f27","order":4,"width":3,"height":1},{"id":"cc5cea376f4d9790","type":"ui_spacer","z":"b833d8115e4225e5","name":"spacer","group":"c67dcaa72196d417","order":4,"width":3,"height":1},{"id":"22baf91bd7a40fd6","type":"ui_spacer","z":"b833d8115e4225e5","name":"spacer","group":"ce2bfd1b602846fb","order":4,"width":3,"height":1},{"id":"cc10f46949690a9d","type":"ui_group","name":"Authentication","tab":"d9855ab506d5ae0d","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"76cc6fa646458284","type":"ui_group","name":"Furnance 1","tab":"9963334d022b346e","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"2ce86dff0dc56daf","type":"ui_group","name":"سامانه مانیتورینگ دما","tab":"9963334d022b346e","order":8,"disp":false,"width":"6","collapse":false,"className":".nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {color: white; } full-width"},{"id":"bd1ed03b029b493b","type":"ui_group","name":"Furnance 2","tab":"9963334d022b346e","order":2,"disp":false,"width":"6","collapse":false,"className":""},{"id":"6c0ea34fee5c116d","type":"ui_group","d":true,"name":"Group 8","tab":"9963334d022b346e","order":7,"disp":true,"width":"6","collapse":false,"className":""},{"id":"7b949818634c8623","type":"ui_group","name":"Furnace 3","tab":"9963334d022b346e","order":3,"disp":false,"width":"6","collapse":false,"className":""},{"id":"1ce76cfcb42fbd6b","type":"ui_group","name":"Furnace 4","tab":"9963334d022b346e","order":4,"disp":false,"width":"6","collapse":false,"className":""},{"id":"e120c7095df709a8","type":"ui_group","name":"Furnace 6","tab":"9963334d022b346e","order":6,"disp":false,"width":"6","collapse":false,"className":""},{"id":"55cf81da258e582d","type":"ui_group","name":"Furnace 5","tab":"9963334d022b346e","order":5,"disp":false,"width":"6","collapse":false,"className":""},{"id":"93968190a2678a94","type":"ui_group","name":"Furnance 1","tab":"76635dde463c88ac","order":2,"disp":false,"width":"6","collapse":false,"className":""},{"id":"f4e4ef83b511721d","type":"ui_group","name":"Furnance 2","tab":"76635dde463c88ac","order":3,"disp":false,"width":"6","collapse":false,"className":""},{"id":"fc9dacb18c18ddc6","type":"ui_group","name":"Furnace 3","tab":"76635dde463c88ac","order":4,"disp":false,"width":"6","collapse":false,"className":""},{"id":"6a5658e1615e9f27","type":"ui_group","name":"Furnace 4","tab":"76635dde463c88ac","order":5,"disp":false,"width":"6","collapse":false,"className":""},{"id":"c67dcaa72196d417","type":"ui_group","name":"Furnace 5","tab":"76635dde463c88ac","order":6,"disp":false,"width":"6","collapse":false,"className":""},{"id":"ce2bfd1b602846fb","type":"ui_group","name":"Furnace 6","tab":"76635dde463c88ac","order":7,"disp":false,"width":"6","collapse":false,"className":""},{"id":"d9855ab506d5ae0d","type":"ui_tab","name":"Login","icon":"","order":1,"disabled":true,"hidden":true},{"id":"9963334d022b346e","type":"ui_tab","name":"monitoring","icon":"dashboard","order":2,"disabled":false,"hidden":true},{"id":"76635dde463c88ac","type":"ui_tab","name":"monitoring","icon":"dashboard","order":3,"disabled":false,"hidden":true}]