Modbus/Modbus.json
[{"id":"fd21cec235881c7b","type":"tab","label":"Modbus","disabled":false,"info":"","env":[]},{"id":"2fae151552e5c8f2","type":"debug","z":"fd21cec235881c7b","name":"debug 66","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1000,"y":300,"wires":[]},{"id":"5896bdb65fd7bbfd","type":"modbus-flex-getter","z":"fd21cec235881c7b","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"logIOActivities":false,"server":"b5bb66af25ea4c77","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":550,"y":220,"wires":[[],["2fae151552e5c8f2"]]},{"id":"10776b889fb5e5d2","type":"inject","z":"fd21cec235881c7b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"data\":[17243,55825,0,0,17243,56296,17170,37373,17243,56454],\"buffer\":[67,91,218,17,0,0,0,0,67,91,219,232,67,18,145,253,67,91,220,134]}","payloadType":"json","x":230,"y":320,"wires":[["97b1f370b2ea39a0"]]},{"id":"bddce52c14274a2b","type":"function","z":"fd21cec235881c7b","name":"Read 32 Bit Float","func":"const buf = Buffer.from(msg.payload.buffer);\nconst value = buf.readFloatBE();\nmsg.value = value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":440,"wires":[[]]},{"id":"97b1f370b2ea39a0","type":"buffer-parser","z":"fd21cec235881c7b","name":"","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"floatbe","name":"Vrs","offset":0,"length":1,"offsetbit":0,"scale":"0","mask":""},{"type":"floatbe","name":"Vst","offset":4,"length":1,"offsetbit":0,"scale":"0","mask":""},{"type":"floatbe","name":"Vtr","offset":8,"length":1,"offsetbit":0,"scale":"0","mask":""},{"type":"floatbe","name":"Vlavg","offset":12,"length":1,"offsetbit":0,"scale":"0","mask":""},{"type":"floatbe","name":"Vr","offset":16,"length":1,"offsetbit":0,"scale":"0","mask":""},{"type":"floatbe","name":"Vs","offset":20,"length":1,"offsetbit":0,"scale":"0","mask":""},{"type":"floatbe","name":"Vt","offset":24,"length":1,"offsetbit":0,"scale":"0","mask":""},{"type":"floatbe","name":"Vavg","offset":32,"length":1,"offsetbit":0,"scale":"0","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":670,"y":320,"wires":[[]]},{"id":"29eabdc3ff4ff361","type":"function","z":"fd21cec235881c7b","name":"Create Commands","func":"var fc = 3;\nvar addresses = 3110;\nvar quantity = 10;\nmsg.payload = { value: msg.payload, 'fc': fc, 'unitid': 1, 'address': addresses, 'quantity': quantity };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":520,"wires":[[]]},{"id":"ee8441099c5f9b08","type":"buffer-parser","z":"fd21cec235881c7b","name":"","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"floatbe","name":"Frequency","offset":0,"length":1,"offsetbit":0,"scale":"0","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":110,"y":560,"wires":[[]]},{"id":"afc72e6f4cb0902e","type":"inject","z":"fd21cec235881c7b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":140,"wires":[["8e87dd90259d9360"]]},{"id":"8e87dd90259d9360","type":"function","z":"fd21cec235881c7b","name":"Create Commands","func":"var fc = 3;\nvar addresses = 3100;\nvar quantity = 2;\nmsg.payload = { value: msg.payload, 'fc': fc, 'unitid': 1, 'address': addresses, 'quantity': quantity };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":220,"wires":[["5896bdb65fd7bbfd"]]},{"id":"27135ec7bb4dfc75","type":"modbus-read","z":"fd21cec235881c7b","name":"3020","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"3020","quantity":"2","rate":"60","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"b5bb66af25ea4c77","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":430,"y":480,"wires":[[],["b65a56a2d1dd9514"]]},{"id":"ae04fea21abe8ad4","type":"modbus-read","z":"fd21cec235881c7b","name":"3028","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"3028","quantity":"2","rate":"60","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"b5bb66af25ea4c77","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":430,"y":540,"wires":[[],["e3f54131100cdb37"]]},{"id":"b56d4dfe0b851cf0","type":"buffer-parser","z":"fd21cec235881c7b","name":"","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"floatbe","name":"Vrs","offset":0,"length":1,"offsetbit":0,"scale":"0","mask":""},{"type":"floatbe","name":"Vst","offset":4,"length":1,"offsetbit":0,"scale":"0","mask":""},{"type":"floatbe","name":"Vtr","offset":8,"length":1,"offsetbit":0,"scale":"0","mask":""},{"type":"floatbe","name":"Vlavg","offset":12,"length":1,"offsetbit":0,"scale":"0","mask":""},{"type":"floatbe","name":"Vr","offset":16,"length":1,"offsetbit":0,"scale":"0","mask":""},{"type":"floatbe","name":"Vs","offset":20,"length":1,"offsetbit":0,"scale":"0","mask":""},{"type":"floatbe","name":"Vt","offset":24,"length":1,"offsetbit":0,"scale":"0","mask":""},{"type":"floatbe","name":"Vavg","offset":32,"length":1,"offsetbit":0,"scale":"0","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":110,"y":660,"wires":[[]]},{"id":"b65a56a2d1dd9514","type":"buffer-parser","z":"fd21cec235881c7b","name":"Vrs","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"floatbe","name":"Vrs","offset":0,"length":1,"offsetbit":0,"scale":"0","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":610,"y":480,"wires":[["f5f9ae5226dd53dd"]]},{"id":"e3f54131100cdb37","type":"buffer-parser","z":"fd21cec235881c7b","name":"Vr","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"floatbe","name":"Vr","offset":0,"length":1,"offsetbit":0,"scale":"0","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":610,"y":540,"wires":[["f5f9ae5226dd53dd"]]},{"id":"2d25fc615b365723","type":"modbus-read","z":"fd21cec235881c7b","name":"3054","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"3054","quantity":"2","rate":"60","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"b5bb66af25ea4c77","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":430,"y":600,"wires":[[],["9e212aa564cfede8"]]},{"id":"9e212aa564cfede8","type":"buffer-parser","z":"fd21cec235881c7b","name":"Pr","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"floatbe","name":"Pr","offset":0,"length":1,"offsetbit":0,"scale":"0","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":610,"y":600,"wires":[["f5f9ae5226dd53dd"]]},{"id":"b0e428b9ed198e45","type":"modbus-read","z":"fd21cec235881c7b","name":"3062","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"3062","quantity":"2","rate":"60","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"b5bb66af25ea4c77","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":430,"y":660,"wires":[[],["247b947e7830bb51"]]},{"id":"247b947e7830bb51","type":"buffer-parser","z":"fd21cec235881c7b","name":"Qr","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"floatbe","name":"Qr","offset":0,"length":1,"offsetbit":0,"scale":"0","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":610,"y":660,"wires":[["f5f9ae5226dd53dd"]]},{"id":"00b04d34a318b2c9","type":"modbus-read","z":"fd21cec235881c7b","name":"3000","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"3000","quantity":"2","rate":"60","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"b5bb66af25ea4c77","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":430,"y":420,"wires":[[],["7815373931d824e0"]]},{"id":"7815373931d824e0","type":"buffer-parser","z":"fd21cec235881c7b","name":"Ir","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"floatbe","name":"Ir","offset":0,"length":1,"offsetbit":0,"scale":"0","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":610,"y":420,"wires":[["f5f9ae5226dd53dd","2fae151552e5c8f2"]]},{"id":"f28e69b637e0dc4a","type":"modbus-read","z":"fd21cec235881c7b","name":"3070","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"3070","quantity":"2","rate":"60","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"b5bb66af25ea4c77","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":430,"y":720,"wires":[[],["8b5fcd32fe65ab29"]]},{"id":"8b5fcd32fe65ab29","type":"buffer-parser","z":"fd21cec235881c7b","name":"Sr","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"floatbe","name":"Sr","offset":0,"length":1,"offsetbit":0,"scale":"0","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":610,"y":720,"wires":[["f5f9ae5226dd53dd"]]},{"id":"d2fbe95e4b438bc5","type":"modbus-read","z":"fd21cec235881c7b","name":"3078","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"3078","quantity":"2","rate":"60","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"b5bb66af25ea4c77","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":430,"y":780,"wires":[[],["364e892b51b8812f"]]},{"id":"364e892b51b8812f","type":"buffer-parser","z":"fd21cec235881c7b","name":"PFr","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"floatbe","name":"PFr","offset":0,"length":1,"offsetbit":0,"scale":"0","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":610,"y":780,"wires":[["f5f9ae5226dd53dd"]]},{"id":"b777b91368fbd793","type":"modbus-read","z":"fd21cec235881c7b","name":"3110","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"3110","quantity":"10","rate":"60","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"b5bb66af25ea4c77","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":430,"y":840,"wires":[[],["8009b19635c392c4"]]},{"id":"8009b19635c392c4","type":"buffer-parser","z":"fd21cec235881c7b","name":"Frequency","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"floatbe","name":"Frequency","offset":0,"length":1,"offsetbit":0,"scale":"0","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":630,"y":840,"wires":[["f5f9ae5226dd53dd"]]},{"id":"e74053980a472116","type":"modbus-read","z":"fd21cec235881c7b","name":"3212","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"3212","quantity":"16","rate":"60","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"b5bb66af25ea4c77","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":430,"y":900,"wires":[[],["7083c551e3bf7f88"]]},{"id":"7083c551e3bf7f88","type":"buffer-parser","z":"fd21cec235881c7b","name":"EP","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"floatbe","name":"EP","offset":0,"length":1,"offsetbit":0,"scale":"0","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":610,"y":900,"wires":[["f5f9ae5226dd53dd"]]},{"id":"c2bec1aa78b880b6","type":"modbus-read","z":"fd21cec235881c7b","name":"3228","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"3228","quantity":"16","rate":"60","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"b5bb66af25ea4c77","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":430,"y":960,"wires":[[],["4489b2505649a810"]]},{"id":"4489b2505649a810","type":"buffer-parser","z":"fd21cec235881c7b","name":"EQ","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"floatbe","name":"EQ","offset":0,"length":1,"offsetbit":0,"scale":"0","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":610,"y":960,"wires":[["f5f9ae5226dd53dd"]]},{"id":"db4cfc9790abe8c4","type":"modbus-read","z":"fd21cec235881c7b","name":"3244","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"3244","quantity":"16","rate":"60","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"b5bb66af25ea4c77","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":430,"y":1020,"wires":[[],["be1f2f8140977587"]]},{"id":"be1f2f8140977587","type":"buffer-parser","z":"fd21cec235881c7b","name":"ES","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"floatbe","name":"ES","offset":0,"length":1,"offsetbit":0,"scale":"0","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":610,"y":1020,"wires":[["f5f9ae5226dd53dd"]]},{"id":"f5f9ae5226dd53dd","type":"mqtt out","z":"fd21cec235881c7b","d":true,"name":"Netlan","topic":"v1/devices/me/telemetry","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a58c66f5512f06a5","x":1070,"y":720,"wires":[]},{"id":"b5bb66af25ea4c77","type":"modbus-client","name":"PowerMeter_IM4700","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"172.19.121.50","tcpPort":"4059","tcpType":"TELNET","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":250,"clientTimeout":4000,"reconnectOnTimeout":true,"reconnectTimeout":4000,"parallelUnitIdsAllowed":true,"showWarnings":true,"showLogs":true},{"id":"a58c66f5512f06a5","type":"mqtt-broker","name":"IM4700","broker":"192.168.45.115","port":"1883","clientid":"57ded110-d823-11ef-b8d2-9780d80db0af","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]